<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clan:Profile</title>
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/styles.css">
        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/f9df423f4a.js"></script>    
    </head>
    <body>
    	<!-- top fixed header -->
    	<div class="container-fluid">
    		<nav class="navbar-fixed-top">
    			<ul class="nav nav-pills navbar-right pull-right">
				  <li role="presentation"><a href="index.html">Home</a></li>
				  <li role="presentation" class="active"><a href="profile.html">Your Profile</a></li>
				  <li role="presentation"><a href="events.html">Events</a></li>
				  <li role="presentation"><a href="crime.html">Crime</a></li>
				</ul>
    			<div class="text-center mainTitle">CLAN<small>: make your clan</small>
    			</div>			
			</nav>
		</div>
		<!-- main content section -->
		<div class="container mainContent">
			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="users.html"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
					 	<li role="presentation"><a href="events.html"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a></li>
					  	<li role="presentation"><a href="crime.html"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Crime</a></li>	
					</ul>
				</div>

				<div class="col-md-8">
				<!-- profile -->

					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
						<h1>Joe McBerry</h1>
						<p class="userChanges">Need to make changes? </p>
						<button type="submit" class="btn btn-default">Go!</button>	
					</div>
						<div class="panel-body">
						<div>Member since 2015</div>
						</div>

						<!-- List group -->
						<ul class="list-group">
						<li class="list-group-item">Cars: BMW 2056</li>
						<li class="list-group-item">Pets: Coco and Jerry</li>
						<li class="list-group-item">Security Cameras installed</li>
						<li class="list-group-item">Available as a Guardian</li>
						<li class="list-group-item">Home is listed as a "Safe Place"</li>
						</ul>
					</div>

				</div>	
				<!-- end profile -->
				<div class="col-2">
					
				</div>
			</div>
			
		</div>
		<!-- end main content section -->        
    </body>    
</html>