<!DOCTYPE html>
<html lang='en'>

  <head>
    
    <title>Devour burger</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
     crossorigin="anonymous">
     <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

  </head>

  <body>
    {{!-- <center><img src="assets/images/pepper.jpeg" alt="pepper"></center> --}}

    {{{ body }}}

  </body>

</html>

{{!-- <div class="container">
  <!-- handle bars test from dummy data -->
  {{#each thread}}


    <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">{{title}}</h3>
      </div>

      <div class="panel-body">
        <p>{{body}}</p>
      </div>
    </div>


  {{/each}}
</div>
 --}}