


<h1> Tom's Test Rig</h1>



<div class="bootstrap-pretty" id="content">

  <!-- handle bars test from dummy data -->
  {{#each posts}}

    <h1>{{title}}</h1>
    <p>{{body}}</p>
    <p>{{id}}</p>


  {{/each}}

</div>
