

<!-- top fixed header -->
<div class="container-fluid">
  <nav class="navbar-fixed-top">
    <ul class="nav nav-pills navbar-right pull-right">
    <li role="presentation" class="active"><a href="index.html">Home</a></li>
    <li role="presentation"><a href="profile.html">Your Profile</a></li>
    <li role="presentation"><a href="events.html">Events</a></li>
    <li role="presentation"><a href="crime.html">Crime</a></li>
    </ul>
      <div class="text-center mainTitle">CLAN<small>: make your clan</small>
    </div>
  </nav>
</div>
  <!-- main content section -->
<div class="container mainContent">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="users.html"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
        <li role="presentation"><a href="events.html"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a></li>
        <li role="presentation"><a href="crime.html"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Crime</a></li>
      </ul>
    </div>

    <div class="col-md-8">
      <!-- message board -->

  <br><br><br><br>

  {{#each thread}}

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{title}}</h3>
		  </div>
		  
      <div class="panel-body">
		    <p>{{body}}</p>

        {{#each Responses}}

          <p>{{response}}</p>

        {{/each}}
        
        <form method="POST" action="/clan/post?_method=PUT" class="button-size">
                <input input type="hidden" type="text" name="thread_id" value={{this.id}}>  
                <input class="custInput" input type="text" name="response" size="50" placeholder="Enter message?"><br>
                <button type="submit" class="btn btn-default">Reply!</button><br>
        </form>

      </div>
    </div>

  {{/each}}

{{!-- </div> --}}

        </div>
				<!-- end message board -->
				<div class="col-2">

				</div>
			</div>

		</div>
